body{
    margin: 0%;
    padding: 0%;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}
li {
    list-style: none;
}
ul.nav {
    display:flex;
    gap: 8px;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}